.portfolio#portfolio
    .container
        .head
            h2 portfolio
                span.bottom
                span.bottom

        

        .main-portfolio(data-aos="zoom-in")
            .next
                <i class="fa fa-chevron-right"></i>
            .prev
                <i class="fa fa-chevron-left"></i>
            .swiper-container
                .swiper-wrapper
                    .swiper-slide.project(title="Click To Go To Project")
                        img(src= dynamic alt="", srcset="")
                        h5= title
                    .swiper-slide.project(title="Click To Go To Project")
                        img(src= dynamic, alt="", srcset="")
                        h5= title

                    .swiper-slide.project(title="Click To Go To Project")
                        img(src= dynamic, alt="", srcset="")
                        h5= title

                    .swiper-slide.project(title="Click To Go To Project")
                        img(src= dynamic, alt="", srcset="")
                        h5= title

                    .swiper-slide.project(title="Click To Go To Project")
                        img(src= dynamic, alt="", srcset="")
                        h5= title

                    .swiper-slide.project(title="Click To Go To Project")
                        img(src= dynamic, alt="", srcset="")
                        h5= title

            
            
